@import '../../assets/scss/partials/variables.scss';

.badge{
    margin: 0 auto;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    
    &.red {
        background-color: map-get($palette, red);
    }

     &.orange {
        background-color: map-get($palette, orange);
    }

    &.green {
        background-color: map-get($palette, success-dark);
    }
}