
$palette: (
primary: #FFFFFF,
secondary: #A4A29C,
tertiary:  #313131,
danger: #FF5359,
blue: #2956E3,
purple: rgb(234, 61, 250),
cyan: cyan,
orange: orange,
success: #72D11F,
red: red,
success-dark: #10A36D,
);

$text-colors: (
headline: #333E44,
white: #FFFFFF,
regular: #3D3C3A,
bodyText: #5A5A5A
);

$input-background: #3D3C3A;
$white: #FFFFFF;


$grey: (
100: #FFF,
150: #F2F2F2,
200: #F4F8F9,
300: #D4D4D4,
400: #BCBCBC,
450: #EFF4F7,
500: #999,

);


$background: #151515;

